.ingredientsTagsBtn {
  background: $color-primary;
}

.applianceTagsBtn {
  background: $color-secondary;
}

.ustensilsTagsBtn {
  background: $color-tertiary;
}

.ingredientsTagsBtn, .applianceTagsBtn, .ustensilsTagsBtn {
  height: 37px;
  margin: 20px 5px 0 0;
  border-radius: 5px;
  color: white;
  border: none;

  span {
    font-size: 14px;
  }
  .fa-times-circle {
    margin-left: 5px;
  }
}